<h1> Student Portal</h1>
<div class="row faltu"></div>

<div class="row">
<div class="small-12 large-8 columns">
	<%= link_to   "Submit Assignment", assignments_path, class: "button radius" %><br>
	<%= link_to   "Submit Mc Certies", teachers_path, class: "button radius" %></div>
<div class="small-12 large-4 columns"></div>
</div>
