<h1> Teachers Portal </h1>
<div class="row faltu"></div>

<div class="row">
<div class="small-12 large-8 columns">
	<%= link_to   "Send New Circular to students", circulars_path, class: "button radius" %><br>
	<%= link_to   "Check Assignments", check_assignment_which_class_path, class: "button radius" %></div>
<div class="small-12 large-4 columns"></div>
</div>

 
